@import './normalize.css';
@import url('https://fonts.googleapis.com/css?family=Play');

/* Generic styles */

body {
  background-color: #0080ff;
  color: white;
  font-family: 'Play', sans-serif;
  min-height: 100vh;
  min-width: 200px;
  width: 100vw;
}

a {
  color: white;
}

.main-header {
  background-color: #003cff;
}

.main-header h1 {
  font-size: 0;
}

.main-header ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 1rem;
  padding: 0;
}

.main-header li {
  flex-grow: 1;
  margin: 1rem;
}

.main-header a {
  background-color: #0080ff;
  color: white;
  display: inline-block;
  padding: 0.6rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.main-header #logo {
  width: 100vw;
  margin: 0 auto 1rem;
}

.main-header .logo {
  width: 20vw;
  min-width: 200px;
}

footer {
  background-color: #1273ce;
  display: flex;
  padding: 1rem;
  width: 100%;
}

footer a {
  text-decoration: none;
}

.copyright {
  text-align: center;
  margin: 0 2rem;
}

.copyright p:first-child {
  font-weight: bold;
}

/* Big screens */

@media (min-width: 800px) {
  body {
    display: flex;
  }

  .main-header {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .main-header #logo {
    margin: 0 auto 2rem;
    width: 100%;
  }

  .main-header ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .main-header li {
    min-width: 200px;
  }

  .main-header li a {
    display: inline-block;
    min-width: 180px;
  }

  footer {
    flex-direction: column;
  }

  footer ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 1.5rem;
  }
}
