@import './normalize.css';
@import url('https://fonts.googleapis.com/css?family=Play');

/* Generic styles */

body {
  background-color: #0080ff;
  color: white;
  font-family: 'Play', sans-serif;
  min-height: 100vh;
  min-width: 200px;
  width: 100vw;
}

a {
  color: white;
}

.main-header {
  background-color: #003cff;
}

.main-header h1 {
  font-size: 0;
}

.main-header ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 1rem;
  padding: 0;
}

.main-header li {
  margin: 1rem;
  padding: 0;
  min-width: 150px;
}

.main-header a {
  background-color: #0080ff;
  color: white;
  display: inline-block;
  padding: 0.6rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.main-header .logo-link {
  width: 100vw;
  margin: 0 auto 1rem;
}

.main-header .logo {
  width: 20vw;
  min-width: 200px;
}

footer {
  background-color: #1273ce;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

footer p:first-child {
  font-weight: bold;
}

footer a {
  text-decoration: none;
}

/* Big screens */

@media (min-width: 1000px) {
  body {
    display: flex;
  }

  .main-header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 20vw;
    position: fixed;
  }

  .main-header .logo-link {
    margin: 0 auto;
    width: 100%;
  }

  .main-header ul {
    margin: 0;
    padding: 0;
  }

  .main-header ul li a {
    display: block;
    margin: 1rem auto;
    width: 150px;
  }
}
