@import './normalize.css';
@import url('https://fonts.googleapis.com/css?family=Play');

/* Generic styles */

body {
  background-color: #0080ff;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Play', sans-serif;
  min-height: 100vh;
  min-width: 200px;
  width: 100vw;
}

a {
  color: white;
}

.main-header {
  background-color: #003cff;
}

.main-header h1 {
  font-size: 0;
}

.main-header ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 1rem;
  padding: 0;
}

.main-header li {
  margin: 1rem;
  padding: 0;
  min-width: 150px;
}

.main-header a {
  background-color: #0080ff;
  color: white;
  display: inline-block;
  padding: 0.6rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.main-header a.active {
  background-color: #0933bd;
}

.main-header .logo-link {
  min-height: 100px;
  max-height: 15vh;
  margin-bottom: 1rem;
  width: 100vw;
}

.main-header .logo {
  min-height: 100px;
  max-height: 15vh;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  width: 100vw;
}

main h2 {
  font-size: 2rem;
  text-align: center;
}

footer {
  background-color: #034c90;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
}

footer p:first-child {
  font-weight: bold;
}

footer a {
  text-decoration: none;
}

/* Big screens */

@media (min-width: 1000px) {
  main {
    min-height: 80vh;
    margin-left: 20vw;
    margin-top: 20vh;
    width: 75vw;
  }

  main:nth-child(2) {
    flex-grow: 1;
  }

  .main-header {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 20vw;
    position: fixed;
  }

  .main-header .logo-link {
    position: fixed;
    margin-left: 20vw;
    width: 80vw;
  }

  .main-header ul {
    height: 100vh;
    margin: auto;
    padding: 0;
  }

  .main-header ul li a {
    display: block;
    margin-top: 1rem;
    width: 150px;
  }

  footer {
    width: 80vw;
  }
}
