/* Generic styles */

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

main h2 {
  text-align: center;
}

main .reviews {
  flex-grow: 1;
}

section {
  border: 1px solid white;
  margin: 1rem auto;
  width: 90%;
}

section header {
  background-color: #0933bd;
  display: flex;
  flex-direction: column;
  width: 100%;
}

section header h1 {
  text-align: center;
}

section header p {
  padding: 0 1rem;
  text-align: center;
}

section header a {
  padding: 0;
  text-decoration: none;
}

section header a:hover {
  text-decoration: underline;
}

section p {
  max-width: 100%;
  padding: 1rem;
}

section a {
  display: inline-block;
  padding: 1rem;
}

/* Big screens */

@media (min-width: 800px) {
  .reviews {
    display: flex;
    flex-wrap: wrap;
  }

  .reviews section {
    margin: 1rem auto;
    width: 45%;
  }
}
