@import 'colors.scss';

/* Generic styles */
:host {
  a {
    display: inline-block;
    margin-left: 1rem;
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;

    li {
      margin: 1rem;
      padding: 0;
      min-width: 100px;

      &#avatar {
        margin: 0 auto;
      }

      &#username {
        text-align: center;
      }

      a {
        background-color: $main;
        color: $white;
        display: inline-block;
        padding: 0.6rem;
        text-align: center;
        text-decoration: none;
        width: 100%;
        &.active {
          background-color: $contrast;
        }
      }
    }
  }
}

/* Big screens */

@media (min-width: 1000px) {
  :host {
    a {
      display: none;
    }
    ul {
      height: 100vh;
      margin: auto;
      padding: 0;
      li {
        a {
          display: block;
          width: 150px;
        }
      }
    }
  }
}
