<nav>
  <ul>
    <li id="avatar" *ngIf="username"><app-avatar></app-avatar></li>
    <li id="username" *ngIf="username">{{ username }}</li>
    <li><a routerLink="/reviews/list/1" routerLinkActive="active">Reviews</a></li>
    <li *ngIf="username"><a routerLink="/users/list/1" routerLinkActive="active">Users</a></li>
    <li><a routerLink="/media/list/1" routerLinkActive="active">Media info</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li *ngIf="username"><a routerLink="/trades/list/1" routerLinkActive="active">Trades</a></li>
    <li *ngIf="username"><a routerLink="/users/account" routerLinkActive="active">Account</a></li>
    <li *ngIf="username"><a routerLink="/logout" routerLinkActive="active">Logout</a></li>
    <li *ngIf="!username"><a routerLink="/users/login" routerLinkActive="active">Login</a></li>
  </ul>
</nav>
