<a (click)="toggleMenu()"><fa-icon [icon]="logoMenu"></fa-icon></a>
<nav [style.display]="display">
  <ul>
    <li id="avatar">
      <app-avatar [imageUrl]="avatarURL"></app-avatar>
      <p>{{ username }}</p>
    </li>
    <li><a routerLink="/reviews" routerLinkActive="active">Reviews</a></li>
    <li *ngIf="username !== 'Guest'">
      <a routerLink="/users" routerLinkActive="active">Users</a>
    </li>
    <li><a routerLink="/infos" routerLinkActive="active">Media Infos</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li *ngIf="username !== 'Guest'">
      <a routerLink="/trades" routerLinkActive="active">Trades</a>
    </li>
    <li *ngIf="username !== 'Guest'">
      <a routerLink="/account" routerLinkActive="active">Account</a>
    </li>
    <li *ngIf="username !== 'Guest'">
      <a (click)="logout()">Logout</a>
    </li>
    <li *ngIf="username === 'Guest'">
      <a routerLink="/users/login" routerLinkActive="active">Login</a>
    </li>
  </ul>
</nav>
