@import 'colors.scss';

/* Generic styles */
:host {
  display: block;
  margin: 2rem auto;
  width: 80%;

  .details {
    border: 1px solid $white;
    .header {
      background-color: $dark;
      border: 1px solid $white;
      display: flex;
      flex-direction: column;
      span {
        text-align: center;
        a {
          display: inline;
        }
      }
    }

    p {
      padding: 1rem;
    }
  }
  a {
    display: block;
    margin: 1rem 0;
    text-align: center;
  }
}

/* Big screens */

@media (min-width: 1000px) {
  :host {
    .details {
      .header {
        display: block;
        text-align: center;
        span {
          font-size: 1.5rem;
          margin: 0.5rem;
        }
      }
      p {
        font-size: 1.5rem;
        text-align: left;
      }
    }
    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
