<div *ngIf="(reviewDetails$ | async) as reviewDetails">
  <div class="details">
    <div class="header">
      <span>{{ reviewDetails.title }}</span>
      <span>
        by <a [routerLink]="'/users/user/' + reviewDetails.author">{{ reviewDetails.author }}</a>
      </span>
      <span>{{ reviewDetails.createdAt | timeAgo }}</span>
    </div>
    <p>{{ reviewDetails.text }}</p>
  </div>
  <a routerLink="/infos/{{ reviewDetails.mediaInfo }}">Go to media info page</a>
  <hr />
  <app-comment-form
    [reviewID]="reviewDetails._id"
    *ngIf="currentUser && currentUser.token"
  ></app-comment-form>
  <hr *ngIf="currentUser && currentUser.token" />
  <app-comment-list [comments]="reverseArray(reviewDetails.comments)"></app-comment-list>
</div>
