/* Generic styles */

.content form {
  display: flex;
  flex-direction: column;
}

.content form label {
  margin: 1rem auto;
  min-width: 300px;
  text-align: center;
}

.content form input {
  color: #0080ff;
  margin: 1rem auto;
  min-width: 300px;
}

.content form select {
  color: #0080ff;
  margin: 1rem auto;
  min-width: 300px;
}

.content form textarea {
  color: #0080ff;
  margin: 1rem auto;
  resize: none;
  min-width: 300px;
}

.content form button {
  background-color: #0933bd;
  color: white;
  margin: 1rem auto;
  padding: 1rem;
  min-width: 300px;
}

/* Big screens */

@media (min-width: 1000px) {
  .content form * {
    width: 800px;
  }
}
