<app-form>
  <app-error></app-error>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <app-form-control [control]="loginForm.get('email')">
      <input
        type="text"
        (change)="inputChange($event, 'email')"
        placeholder="Email"
        formControlName="email"
      />
    </app-form-control>
    <app-form-control [control]="loginForm.get('password')">
      <input
        type="password"
        (change)="inputChange($event, 'password')"
        placeholder="Password"
        formControlName="password"
      />
    </app-form-control>
    <div class="button-wrapper">
      <button type="submit">
        Login
      </button>
    </div>
    <a routerLink="/users/register">Don't you have an account yet? Click here and register</a>
  </form>
</app-form>
