@import 'colors.scss';

/* Generic styles */
:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 100%;
  .content {
    h1 {
      font-size: 2rem;
    }

    hr {
      border-color: $white;
    }

    a {
      color: $white;
      display: flex;
      font-size: 1.2rem;
      margin-top: 1rem;
      text-decoration: none;

      fa-icon {
        margin-right: 1rem;
      }
    }
  }
}

/* Big screens */

@media (min-width: 1000px) {
  :host {
    .content {
      h1 {
        font-size: 4rem;
      }
    }
  }
}
