<nav>
  <ul>
    <li id="avatar" *ngIf="username"><app-avatar></app-avatar></li>
    <li id="username" *ngIf="username">{{ username }}</li>
    <li><a href="/reviews">Reviews</a></li>
    <li *ngIf="username"><a href="/users">Users</a></li>
    <li><a href="/media">Media info</a></li>
    <li><a href="/about">About</a></li>
    <li *ngIf="username"><a href="/trades">Trades</a></li>
    <li *ngIf="username"><a href="/account">Account</a></li>
    <li *ngIf="username"><a href="/logout">Logout</a></li>
    <li *ngIf="!username"><a href="/login">Login</a></li>
  </ul>
</nav>
