@import 'colors.scss';

/* Generic styles */
:host {
  .pagination {
    margin: 0 auto;
    width: 90vw;
    a {
      background-color: $dark;
      display: inline-block;
      margin: 1rem 0.5rem;
      padding: 0.5rem;
      &.disabled {
        background-color: $error;
        cursor: not-allowed;
      }
    }
  }
}

/* Big screens */

@media (min-width: 1000px) {
  :host {
    .pagination {
      width: 500px;
      a {
        margin: 1rem;
        padding: 1rem;
      }
    }
  }
}
