<div class="pagination">
  <a (click)="navigate(hasPrevPage, '/' + resources + '/list/1')" [class.disabled]="!hasPrevPage"
    ><fa-icon [icon]="firstIcon"></fa-icon
  ></a>
  <a
    (click)="navigate(hasPrevPage, '/' + resources + '/list/' + (currentPage - 1))"
    [class.disabled]="!hasPrevPage"
    ><fa-icon [icon]="previousIcon"></fa-icon
  ></a>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <a
    (click)="navigate(hasNextPage, '/' + resources + '/list/' + (currentPage + 1))"
    [class.disabled]="!hasNextPage"
    ><fa-icon [icon]="nextIcon"></fa-icon
  ></a>
  <a
    (click)="navigate(hasNextPage, '/' + resources + '/list/' + totalPages)"
    [class.disabled]="!hasNextPage"
    ><fa-icon [icon]="lastIcon"></fa-icon
  ></a>
</div>
