/* General styles */

:host {
  p {
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
  }
}

/* Big screens */

@media (min-width: 1000px) {
  .trade-cards {
    display: flex;
    flex-wrap: wrap;
  }

  app-trade-cards-item {
    margin: 1rem auto;
    width: 45%;
  }
}
