/* Generic styles */

:host {
  form {
    margin: 0 auto;
    width: 90%;
  }

  a {
    display: inline-block;
    margin: 1rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* Big screens */

@media (min-width: 1000px) {
  :host {
    a {
      margin: 0;
    }
  }
}
