<app-form>
  <app-error></app-error>
  <app-info-message [message]="message"></app-info-message>
  <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
    <app-form-control [control]="passwordForm.get('password')">
      <input type="password" placeholder="Password" formControlName="password" />
    </app-form-control>
    <app-form-control [control]="passwordForm.get('confirmPassword')" [group]="passwordForm">
      <input type="password" placeholder="Confirm password" formControlName="confirmPassword" />
    </app-form-control>
    <div class="button-wrapper">
      <button>
        Change Password
      </button>
    </div>
  </form>
</app-form>
