<div *ngIf="(reviewsInfo$ | async) as reviewsInfo">
  <app-pagination
    [currentPage]="reviewsInfo.page"
    [totalPages]="reviewsInfo.totalPages"
    [hasPrevPage]="reviewsInfo.hasPrevPage"
    [hasNextPage]="reviewsInfo.hasNextPage"
    resources="users"
  ></app-pagination>
  <app-review-cards [reviews]="reviewsInfo.docs"></app-review-cards>
  <app-pagination
    [currentPage]="reviewsInfo.page"
    [totalPages]="reviewsInfo.totalPages"
    [hasPrevPage]="reviewsInfo.hasPrevPage"
    [hasNextPage]="reviewsInfo.hasNextPage"
    resources="users"
  ></app-pagination>
</div>
