@import 'colors.scss';

/* Generic styles */

:host {
  article {
    border: 1px solid $white;
    margin: 1rem auto;
    width: 90%;
    header {
      background-color: $dark;
      border-bottom: 2px solid $white;
      display: flex;
      flex-direction: column;
      width: 100%;
      h1 {
        font-size: 1.4rem;
        margin: 0.5rem;
        text-align: center;
      }

      p {
        margin-top: 0.5rem;
        text-align: center;
      }
    }

    p {
      padding: 0.5rem;
    }

    a {
      display: block;
      margin: 0.5rem;
      text-align: center;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
