<div *ngIf="(userDetails$ | async) as userDetails">
  <div class="details">
    <app-avatar [imageUrl]="userDetails.avatarURL || 'assets/img/avatar.png'"></app-avatar>
    <div class="text">
      <p><b>Username:</b> {{ userDetails.username }}</p>
      <p><b>Email:</b> {{ userDetails.email }}</p>
    </div>
  </div>
  <hr />
  <p>
    <a routerLink="/reviews/user/{{ userDetails.username }}"
      >Go to {{ userDetails.username }}'s reviews</a
    >
  </p>
  <p>
    <a routerLink="/trades/user/{{ userDetails.username }}"
      >Go to {{ userDetails.username }}'s trades</a
    >
  </p>
</div>
